<li class='movie-item'>
  <a href='{{id}}' id = '{{id}}' class='movie-link'>
    <img src='{{image}}' alt='' class='movie-image' />
    <div class='movie-info'>
      <p class='movie-title'>{{title}}</p>
      <p class='movie-description'>{{genres}} | {{year}}</p>
    </div>
  </a>
</li>


